.signupScreen {
  max-width: 310px;
  padding: 38px 65px;
  margin-bottom: 0;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.75);
}

/* ********VERY IMPORTANT STYLE******** */
/* this alone is enough to align the elements of form vertically with same width */
.signupScreen > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ********                     *********/

::placeholder {
  color: rgb(181, 181, 181);
}

.signupScreen > form > input {
  outline-width: 0;
  font-size: 1rem;
  height: 45px;
  margin-bottom: 14px;
  border-radius: 4px;
  border: none;
  padding: 5px 15px;
  background: rgba(23, 23, 23, 0.4);
  border: solid rgb(98, 98, 98) 0.8px;
  color: #fff;
}

.signupScreen > form > button {
  padding: 10px 20px;
  font-size: 1rem;
  font: bold;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#signin__button {
  background-color: #e50914;
}

#signinCode__button {
  background: rgba(97, 97, 97, 0.651);
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

h3 {
  font-weight: 400;
  color: #bdbdbd;
  margin-top: 10px;
}

.signInScreen__forgotPassword {
  font-weight: 400;
  cursor: pointer;
  color: #ffffff;
  margin: 10px;
}
.signInScreen__forgotPassword:hover {
  text-decoration: underline;
}

.signupScreen > form > label {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  cursor: pointer;
}

.signupScreen > form > label > input {
  cursor: pointer;
}

.signupScreen > form > h4 {
  text-align: left;
  margin-top: 12px;
  font-weight: 400;
}
.signupScreen__gray {
  color: gray;
}

#signin__button:hover {
  background-color: #930910;
}

.signupScreen__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* medium Devices (Tablets, 576px - 768px) */
@media (max-width: 768px) {
  .signupScreen {
    width: 70%;
    height: auto;
    padding: 40px 65px;
    margin-left: auto;
    margin-right: auto;
  }
  .signupScreen > form {
    margin: auto;
  }
  .signupScreen > form > input {
    outline-width: 0;
    font-size: 1rem;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    padding: 5px 12px;
    background: rgba(23, 23, 23, 0.4);
    border: solid rgb(98, 98, 98) 0.8px;
    color: #fff;
  }
}

/* Small Devices (Phones, up to 576px) */
@media (min-width: 461px) and (max-width: 767px) {
  .signupScreen {
    width: 65%;
    width: fit-content;
    height: auto; /* Adjust height */
    padding: 40px 65px;
    margin-left: auto;
    margin-right: auto;
  }
  .signupScreen > form > input {
    outline-width: 0;
    font-size: 0.9rem;
    height: 35px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: none;
    padding: 4px 10px;
    background: rgba(23, 23, 23, 0.4);
    border: solid rgb(98, 98, 98) 0.8px;
    color: #fff;
  }

  .signupScreen > form > button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  .signupScreen > form > h4 {
    text-align: left;
    margin-top: 12px;
    font-weight: 350;
  }
}

/* Small Devices (Phones, up to 460px) */
@media (max-width: 460px) {
  .signupScreen {
    width: 55%;
    height: auto; /* Adjust height */
    padding: 37px 58px;
    margin-left: auto;
    margin-right: auto;
  }
  .signupScreen > form > input {
    outline-width: 0;
    font-size: 0.8rem;
    height: 33px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: none;
    padding: 4px 12px;
    background: rgba(23, 23, 23, 0.4);
    border: solid rgb(98, 98, 98) 0.8px;
    color: #fff;
  }

  .signupScreen > form > button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  .signupScreen > form > h4 {
    text-align: left;
    margin-top: 12px;
    font-weight: 350;
  }
}

/* ************************Not Used**************************** */

/* .signupScreen__gradient{
    height: 150vh;
    background-color: #000;
} */

/* 
#email__input{
    padding: 16px 30px;
    width: 250px;
    font-size: 1rem;
    font-weight: 500;
    height: 1rem;
    background: rgba(23, 23, 23, 0.4);
    color: white;
    border: solid rgb(123, 123, 123) 0.8px;
    border-radius: 4px;
    max-width: 300px;
    margin: 10px auto;
}

#password__input{
    padding: 16px 30px;
    font-size: 1rem;
    font-weight: 500;
    width: 250px;
    height: 1rem;
    background:  rgba(23, 23, 23, 0.4);
    color: white;
    border: solid rgb(123, 123, 123) 0.8px;
    border-radius: 4px;
    max-width: 300px;
    margin: 10px auto;
}

#signin__button{
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 450;
    width: 311px;
    background: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
    margin: 10px auto;
}

#signinCode__button{
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 450;
    width: 311px;
    background: rgba(97, 97, 97, 0.651);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
    margin: 10px auto;
}

.signInScreen__forgotPassword{
    text-decoration: none;
} */
